:root {
  --body-background: #e5e5e5;
  --white: #ffffff;
  --title-color: #2e384d;
  --shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
  --border: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font: 300 1rem "Inter", sans-serif;
  text-align: center;
  background: var(--body-background);
}

.title {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: var(--title-color);
  font-weight: 600;
}

.countdownContainer {
  width: 400px;
  display: flex;
  align-items: center;

  color: var(--title-color);
  font-family: "Rajdhani";
  font-weight: 600;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;

    background-color: var(--white);

    font-size: 10rem;
    text-align: center;

    box-shadow: var(--shadow);
    border-radius: var(--border);

    span {
      flex: 1;

      &:first-child {
        border-right: 1px solid #f0f1f3;
      }

      &:last-child {
        border-left: 1px solid #f0f1f3;
      }
    }
  }

  .separator {
    font-size: 7rem;
    margin: 0 0.5rem;
  }
}
